  GNU nano 8.3                                                netbird.service                                                           
[Unit]
Description=Launch netbird vpn
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=simple
User=srv
Group=srv
ExecStart=/var/home/srv/.local/bin/nb.sh
RemainAfterExit=yes

